@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,100,600);


* {
  box-sizing: border-box;
}


body {
  color: #585454;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0 0 0 50px;
}
.row{
  @include outer-container;
  section{
    @include span-columns(6);
  }
}
h3{
  font-weight: normal;

  span.title{
    font-weight: bold;
    /*color: black;*/
  }
}

// Grid

section {
  @include outer-container;
}

#body {
  position: relative;
}

nav {
  font-size: small;
  position: absolute;
  width: 80px;
  left: 0;
  top: 0;
}

nav li{
  width: 80px;
}

nav li a{
  text-align: center;
  line-height: 80px;
  display: block;
  text-decoration: none;
  background: rgba(0,0,0,0.1);

  /*text-shadow: 0 1px 1px rgba(0,0,0,0.4);*/
}


nav li a:hover{
  /*background: #111;*/
  text-decoration: none;
  background: rgba(0,0,0,0);
}


nav li a i.entypo{
  line-height: 80px;
  color: transparent;

  color: #555 !important;

  /*text-shadow: rgba(0,0,0,0.5) 0 -1px 0;*/

}

// Summary

#summary{
  ul{
    overflow: hidden;
    /*border: 1px solid red;*/
    /*background: rgba(0,0,0,0.01);*/
    border: 1px solid #eee;
    margin: $base-font-size*2 0;

  }
  li{
    /*float: left;*/
      @include span-columns(2);
      text-align: center;
    /*border-right: 1px solid #eee;*/

    padding: $base-font-size 0;
    .count{
      font-size: $base-font-size * 2;
      display: block;
      color: #222;
    }
  }
}
