@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,100,600);
* {
  box-sizing: border-box; }

body {
  color: #585454;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
  margin: 0 0 0 120px; }

.summary_bar {
  display: none; }
